# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

venv/
.env
env.bak

docs/
